body {
    background-color: #0e162b;
}

h2,h3,h4 {
    color: #e9ecf0;
    font-family: 'Helvetica';
}
 p {
    color: #97a5b1;
    font-family: 'Helvetica';
 }

.cabeçalho {
  background: linear-gradient(to bottom, #38315e, #0e162b);
  backdrop-filter: blur(100px);
}

.ft {
    text-align: center;
}

 .foto-minha {
    border-radius: 50%;
    height: 190px;
    margin-top: 50px;
 }

 .name {
    text-align: center;
    padding-bottom: 10px;
 }

.job {
    text-align: center;
    font-family: 'Helvetica';
    max-width: 20rem;
    font-size: medium;
    display: inline-block;
    padding: 10px 12px;
}

.traba {
    display: flex;
    justify-content: center;
}

.email-icon {
    height: 50px;
    width: 60px;
    padding-right: 10px;
}

.telefone-icon {
    height: 40px;
    width: 120px;
    padding-right: 5px;
}

.mail {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: 'Helvetica';
}

.contato {
    display: flex;
    text-align: center;
    margin-left: 37%;
    padding-top: 8px;
    gap: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .about-me {
    display: flex;
    justify-content: flex-start;
  }

.bout {
margin-left: 19px;
}

  .text {
    font-size: larger;
    max-width: 70%;
    color: #A9A9A9;
    margin-top: 40px;
    margin-left: 19px;
  }

  .educacao {
    margin-left: 19px;
  }

  .itemli {
    color:  #97a5b1;
    font-family: 'Helvetica';
    font-size: larger;
  }
  
  .habilidades {
    justify-content: flex-start;
    margin-left: 15px;
  }

.ptbr {
  height: 50px;
  width: 80px;
}

.usa {
  padding-left: 20px;
  height: 50px;
}

 .conteudo {
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 100%;
  height: 100vh; 
  padding: 0;
  margin: 0;
 }

 .principal {
  width: 75%; 
  padding: 20px;
 }

 .aside-container {
  display: flex;
  width: 25%; 
  padding-top: 40px;
 padding: 20px; 
  margin-left: 20px;  
  border-left: 2px #252d40 solid;
  height: 60%;
  width: 45%;
  margin-top: 47px;
 }

 .ling1, .ling2, .ling3, .ling4, .ling4, .ling5 {
  transition: transform 0.5s ease;
  transition: background-color 0.3s, color 0.3s

 }

 .ling1:hover, .ling2:hover, .ling3:hover, .ling4:hover, .ling5:hover {
  background-color: #394763;  
  color: #fff;
 }

 .hab {
  display: flex;
  flex-direction: row;
  gap: 19px;
  flex-wrap: wrap;
  max-width: 350px;
 }

 .ling1, .ling2, .ling3, .ling4, .ling5 {
  font-size: large;
  background-color: #0c1427;
  color: #e9ecf0;
  border-radius: 6px;
  padding: 7px;
 }

 .gua {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
 }

 .line {
  width: 80%;
  margin: 10px auto;
  border: 1px solid #252d40;
 }

 .contato-container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #0e162b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
 }

 label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
  color: #e9ecf0;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
}

.tet {
  text-align: center;
  background-image: linear-gradient(to right, #0e162b, #6529ee);
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 7px;
}

.but {
  width: 90px;
}

.ens {
  font-size: larger;
    max-width: 70%;
    color: #A9A9A9;
    margin-left: 19px;
    
}